* {
    --color1:rgb(117, 124, 182) ;
    --colorNF: rgb(26, 31, 80);
    --colorInt: rgb(80, 89, 155);
    --colorDiv: rgb(68, 114, 173);
}


:visited {
    color: white;
}

body {
    flex-direction: column;

    margin: 0;
    background-color: var(--color1);
    min-height: 100vh;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--colorNF), var(--colorInt));
    color: white;
    font-size: larger;
    min-height: 70px;
    box-shadow: 0 2px 5px black;
}

.nav1 {
    display: flex;
    flex-direction: row;
    gap: 100%;
    justify-content: center;
    align-content: center;
}

h1:hover {
    text-shadow: 0 4px 5px;
    transition: 1s;
    transform:scale(1.5)
}


h1 {
    text-align: center;
    height: 50px;
}

h2 {
    text-align: center;
}

h3 {
    text-decoration: underline;
}

.foot {
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--colorNF);
    gap: 5%;
    min-height: 70px;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    font-size: larger;
}

/***************Accueil**************/
#prof {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
    border: solid var(--colorNF);
    justify-self: center;
}

hr {
    width: 40%;
    color: var(--colorInt);
    margin-top: 15px;
    margin-bottom: 15px;
}

.prog {
    display: flex;
    justify-content: center;
    background-color: var(--colorDiv);
    margin: 20px 20%;
    border-radius: 20px;
}

#log {
    width: 30%; 
}

#log:hover {
    transform: perspective(800px) rotateX(20deg) rotateY(25deg);
}

.section1 {
    background-color: var(--colorInt);
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: "\26FD";
}

.liste {
    width: 30%;
    background-color: var(--colorDiv);
    border-radius: 20px;
    margin: 1%;
    box-shadow: 0 2px 5px black;
    font-size: larger;
}

.parcours {
    width: 65%;
    text-align: left;
    font-size: larger;
    background-color: var(--colorDiv);
    border-radius: 20px;
    margin: 1%;
    box-shadow: 0 2px 5px black;
}

.XP {
    background-color: var(--colorDiv);
    border-radius: 20px;
    margin: 1%;
    width: 100%;
    box-shadow: 0 2px 5px black;
    font-size: larger;
}

.hrA {
    display: none;
}

.hrB {
    width: 70%;
}

@media (max-width: 700px) {

    .nav1 {
        gap: 20%;
    }

    .prog {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #log {
        width: 60%;
    }

    #prof {
        width: 90%;
    }
    .section1 {
        flex-direction: column;
    }
    ul {
        padding-left: 20%;
        text-align: left;
    }
    .liste {
        width: 90%;
        margin: auto;
        margin-top: 8px;
        text-align: center;
        font-size: medium;
    }
    .parcours {
        width: 90%;
        margin: auto;
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: medium;
    }

    .XP {
        width: 90%;
        margin: 10px auto;
        font-size: medium;
    }

    .foot {
        gap: 55px;
    }

    .hrA {
        display: block;
        margin-top: 25px;
        width: 70%;
    }
}

@media (min-width:701px) and (max-width: 1200px) {
    .prog {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #prof {
        width: 50%;
    }

    #log {
        width: 450px;
        height: 150px;
    }

}

  
.barre {
    background: linear-gradient(rgb(22, 1, 1), rgb(32, 2, 2));
    height: 25px;
    width: 100%;
    overflow: hidden;
    margin-top: 22px;
}
  
.kit {
    background-color: red;
    background-image: linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    color: white;
    height: 100%;
    width: 20%;
  
    animation: 3s linear 0s infinite alternate move_kit;
}

.kit:hover {
    transform: scale(6);
    transition: 1s;
}
  
@keyframes move_kit { from { margin-left:-20%; } to { margin-left:100%; }  }
  


/***************Galerie**************/

.sectionPort {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 50px 2%;
    padding: 50px 3%;
    border-radius: 20px;
    background-color: var(--colorInt);
}

.rapaces {
    text-align: center;
    background-color: var(--colorDiv);
    width: 30%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0 2px 5px;
}

#rapace {
    width: 90%;
    height: auto;
    border-radius: 20px;
}

.google {
    text-align: center;
    background-color: var(--colorDiv);
    width: 30%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0 2px 5px;
}

#google {
    width: 90%;
    height: auto;
    border-radius: 20px;
}

.blog {
    text-align: center;
    background-color: var(--colorDiv);
    width: 30%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0 2px 5px;
}

#carlin {
    width: 90%;
    height: auto;
    border-radius: 20px;
}

.gitDiv {
    display: flex;
    justify-content: center;
    height: 80px;
    margin-bottom: 30px;
}

#git {
    height: 60px;
}

.hrS {
    display: none;
}

@media (max-width: 700px) {
    .sectionPort {
        flex-direction: column;
    }

    .rapaces {
        width: 100%;
    }

    .google {
        width: 100%;
        margin-top: 15px;
    }

    .blog {
        width: 100%;
        margin-top: 15px;
    }

    .hrS {
        display: block;
        width: 70%;
        margin-top: 30px;
    }

}

@media (min-width:701px) and (max-width: 1200px) {
    .sectionPort {
        flex-direction: column;
    }

    .rapaces {
        width: 100%;
        padding-bottom: 30px;
    }

    .google {
        width: 100%;
        margin-top: 15px;
        padding-bottom: 30px;
    }

    .blog {
        width: 100%;
        margin-top: 15px;
        padding-bottom: 30px;
    }

    .hrS {
        display: block;
        width: 70%;
        margin-top: 30px;
    }

    .foot {
        gap: 160px;
    }
}




/***************Contact**************/

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--colorInt);
    margin: 50px 15%;
    padding: 10px;
    border-radius: 20px;
}

label {
    align-self: center;
    margin: 10px auto;
    text-decoration: underline;
}

input {
    align-self: center;
    width: 60%;
    height: 25px;
    border-radius: 10px;
}

textarea {
    align-self: center;
    width: 60%;
    border-radius: 10px;
    resize: none;
}

.but {
    margin: 20px auto;
    width: 250px;
    opacity: 0.5;
    background: linear-gradient(45deg, blue 0 33%, white 33% 66%, red 66% 100%);;
}

.but:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 1s;
    background: linear-gradient(var(--colorNF), var(--colorDiv));
    color: white;
    border: solid white;
    border-width: 2px;
    border-radius: 50px;
    opacity: 1;
}

@media (max-width: 700px) {
    .form {
        margin: 20px 1%;
        padding: 5px;
    }
    input {
        width: 90%;
        height: 35px;
    }
    textarea {
        width: 90%;
        height: 250px;
    }
    .but {
        width: 90%;
        height: 40px;
    }
    .but:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 1s;
        background-color: var(--colorNF);
        color: white;
        border: solid white;
        border-width: 1px;
        border-radius: 50px;
    }
}

@media (min-width:701px) and (max-width: 1200px) {
    .form {
        margin: 20px 2%;
        padding: 5px;
    }
    input {
        width: 80%;
        height: 35px;
    }
    textarea {
        width: 80%;
        height: 250px;
    }
    .but {
        width: 40%;
        height: 40px;
    }
}